<p>consumeremote works!</p>

<table border="1">

    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>City</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Company Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let user of users'>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.address.city}}</td>
        <td>{{user.address.geo.lat}}</td>
        <td>{{user.address.geo.lng}}</td>
        <td>{{user.company.name}}</td>
        </tr>
    </tbody>

</table>
<hr>
<br>
<button (click)="openAddCabPage()">Add Cab</button>
<br><br>
<table border="1">

    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Location</th>
            <th>Score</th>
            <th colspan="3">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let cab of allCabs'>
            <td>{{cab.id}}</td>
            <td>{{cab.name}}</td>
            <td>{{cab.location}}</td>
            <td>{{cab.score}}</td>
            <td>
                <button (click)="seeCabDetail(cab.id)">Detail</button>
            </td>
            <td>
                <button (click)="editCabDetail(cab.id)">Edit</button>
            </td>
            <td>
                <button (click)="deleteCurrentCab(cab.id)">Delete </button>
            </td>
        </tr>
    </tbody>

</table>