

{{ title }}
<br>
Score: {{ score }}
<br>
<a routerLink="homepage">Home</a> &nbsp;
<a routerLink="notify">Notification</a> &nbsp;
<a routerLink="directive">Directive</a> &nbsp;
<a routerLink="inbuiltpipe">Built In Pipe</a> &nbsp;
<a routerLink="custompipe">Custom Pipe</a> &nbsp;
<a routerLink="templateform">Template Form</a> &nbsp;
<a routerLink="reactiveform">Reactive Form</a> &nbsp;
<a routerLink="consume1">Consume1</a> &nbsp;
<a routerLink="consume2">Consume2</a> &nbsp;
<a routerLink="remote">Consume Remote</a> &nbsp;
<hr>


<router-outlet></router-outlet>